// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}

.Button--price{
  text-transform: uppercase;
  width: 100%;
    background-clip: padding-box;
  // border: 10px solid $c-white;
  // width: 150px;
  // height: 85px;
  // border-radius: 50%;
  display: table;
  position: relative;
  margin: 0 auto;
  color: $c-white;
  padding: 2rem;
  background-color: $c-darkblue;
  // top: 2.5rem;
  // border-radius: 50%;
  
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: $c-blue;
   }

}

.Button--price2{
  text-transform: uppercase;
  width: 100%;
    background-clip: padding-box;
  // border: 10px solid $c-white;
  // width: 150px;
  // height: 85px;
  // border-radius: 50%;
  display: table;
  position: relative;
  margin: 0 auto;
  color: $c-white;
  padding: 2rem;
  background-color: $c-green;
  // top: 2.5rem;
  // border-radius: 50%;
  
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: $c-blue;
   }

}

.Button--phone{
    @media screen and (min-width: 980px){
    visibility: hidden;
    display: none;
  }

  background: url('img/phone.png');
  // margin-right: 16px;
  // margin-top: 43px;
  margin-left: 6.7em;
  padding: 0;
  padding-bottom: 2.2px;
  // margin-top: 15px;
  margin-bottom: 2px;
  // margin-left: 5px;
  // background-color: $c-yellow;
  background-color: $c-blue;
  color: $c-white;
  font-size: 1.2rem;
  float: right;
  width: 187px;
  text-align: center;
  border-top-right-radius: 25px;
  font-size: rem(25px);
  float: left;
  font-weight: 600;
  width: 200px;
  text-align: center;
  // border-top-left-radius: 25px;
  padding-top: 2px;
  cursor: pointer;
  // -webkit-duration: .3s;
  // -moz-duration: .3s;
  // -o-duration: .3s;
  // transition-duration: .3s;

  // &:hover{
  //   // background: $c-lightyellow;
  //  background: rgba($c-yellow, 0.4);
  //  color: $c-white;
  //  }

   @media screen and (max-width: 980px) {
    visibility: visible;
    float: none;
    margin-top: 0;
    width: 100%;
    // margin-top: 1em;
    margin-left: 0px;
   }
}

.Button--usp{
  // text-transform: uppercase;
  width: 100%;
    background-clip: padding-box;
  // border: 10px solid $c-white;
  // width: 150px;
  // height: 85px;
  // border-radius: 50%;
  display: table;
  position: relative;
  margin: 0 auto;
  color: $c-white;
  padding: 2rem;
  background-color: $c-darkblue;
  // margin-top: 10em;
  // top: 2.5rem;
  // border-radius: 50%;
  
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
    // background: $c-lightyellow;
   background: $c-blue;
   }
   @media screen and (max-width: 980px) {

   }

}