.Contact-map{
   @media screen and (max-width: 980px) {
  width: 18em;
  }
}

.Contactbar{
  margin-top: 2em;
   @media screen and (max-width: 980px) {
    margin-top:0;
  }
}

.Contact-text{
  margin-left: 1em;
   @media screen and (max-width: 980px) {
   	margin-left: 0;
   }
}