// *************************************
//
// Icon
// -> Display an svg icon
//
// *************************************

.Icon {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Icon--inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.Icon--alone {
	height: 1rem;
	width: 1rem;
	vertical-align: middle;
	margin-left: 2em;
}

.Icon--alone2{
	height: 1rem;
	width: 1rem;
	vertical-align: middle;
	margin-left: 2em;
}

.icon-usp{	
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
	// margin-left: 2em;

}



// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
