// *************************************
//
// Logo
// -> Specific logo container
//
// *************************************


.Logo {
  display: inline-block;
  
  position: relative;
  z-index: 100;
  width: 140px;  
  padding: 0;

  img {
    position: absolute;
    bottom: -67px;
    left: 0;
    @media screen and (max-width : 980px) {
      // display: none;
      bottom: 13em;
      left: 10em;
      max-width: 8em; 
    }
  }
}

 

.Logo-small{
  position: absolute;
  margin-left:11.7em;
  top: -3px; 
  max-width: 6em;
  @media screen and (min-width : 980px) {
  display: none;
  // visibility: hidden; 
  }
}

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

.Logo-textLink {
  vertical-align: top;
  padding-top: rem(16px);
}

.Logo-textLink,
.Logo-heading,
.Logo-imageLink {
  display: inline-block;
}

// ----- Heading ----- //

.Logo-headingTop,
.Logo-headingBottom {
  color: $c-white;
  display: block;
  line-height: 1;
}

.Logo-headingTop {
  font-family: 'Hobo', sans-serif;
  font-size: rem(70px);
  text-align: center;
}

.Logo-headingBottom {
  font-size: rem(30px);
}

