.Usp-wrap{
	 list-style-type: square;
	text-align: center;
	// font-weight: 600;
	color: $c-darkblue;
	background-color: $c-gray;
}

.Usp-wrap{
	 list-style-type: square;
	text-align: center;
	// font-weight: 600;
	color: $c-darkblue;
	background-color: $c-white;
}

.Usp-text{
	padding-top: 2rem;
	font-size: 1.5625rem;
	@media screen and (max-width: 980px) {
	margin-bottom: 0;
	}	
	 // background-image: url('/files/2014/05/check.png');

}

// li.check::before {
// 	background-image: url('img/check.png');
// 	height: 1.3em;
// 	width: 1.3em;
// }



.Usp-block{
	width: 19% !important;
	margin:  auto;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: $c-blue;
	// border: 2px solid $c-darkblue;
	@include span-columns(4); //3 columns
	//@include span-columns(3); //4 columns
	display: inline-block;
	text-align: left;
	padding: 20px;
	height: 36em;
	-webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;
	transition-duration: .3s;

	@media screen and (max-width: 980px) {
		width: 100% !important;
		@include span-columns(12);
		height: 16em;
		margin-top: 0.5em;
		padding-bottom: 17em;
		// height: 0px;

	}

  &:hover{
    // background: $c-lightyellow;
   background: #94C2F2;
   }

	svg{
		fill: $c-white;
		width: 60%;
	
		@media screen and (max-width: 980px) {
			width: 10%;
		}
	}

	p{
		color: $c-white;
	}

	
}

.Usp-under{
	background-color: $c-white;
}

ul.Usp{
	margin-left: 1.5em;
	line-height: 2em;
	@media screen and (max-width: 980px) {
		margin: 0;
		margin-left: 1em;
	}

}

ul.Usp2{
	margin-left: 47em;
	line-height: 2em;
	text-align: left;
	width: 21em;
	@media screen and (max-width: 980px) {
		margin: 0;
		margin-left: 1em;
	}

}

.Usp-title{
	min-height: 3em;
	color: $c-white;

	@media screen and (max-width: 980px) {

	min-height: 0;
	padding: 0;
	font-size: 18px;
	margin: 0;
	}
}

.Usp-block p{
	min-height: 17em;
	@media screen and (max-width: 980px) {
	min-height: 0;
	}
}

.Usp-link{
	font-weight: 600;
	color: $c-darkblue !important;
}

.Usp-small-icon{
	@media screen and (min-width: 980px) {
	display: none;
	}
}

.Usp-big-icon{
	text-align: center;
	// margin-left: 1em;

}



















