// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/icon";

@import "modules/logo";

@import "modules/navigation";

@import "modules/slider";

@import "modules/usp";

@import "modules/price";

@import "modules/contact";

@import "modules/home";

@import "modules/footer";

@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

div.u-gridColumn6:nth-child(2) > ul:nth-child(1),
div.u-gridColumn6:nth-child(3) > ul:nth-child(1){
	text-align: left;
}




.Facebook{
  background-color: $c-white;
  @include span-columns(4);
  // border-top: 5px solid $c-blue;
  // border-bottom: 5px solid $c-blue;
  padding-top: 10px;
  @media screen and (max-width: 980px) {
    @include span-columns(12);
    // height: 13em;
    // height: 0px;

  }
}

.app-image{
  // height: 11em;
  display:inline-block;
    width: 225px; 
    height: 225px; 
}

.app-google-image{
  // height: 11em;
  display:inline-block;
    width: 300px; 
    height: 97px; 
}

.app-images{
    width: 150px;
    float: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px; 
}

#post-4 > div:nth-child(1) > p:nth-child(2){
  @media screen and (max-width: 980px) {
  font-size: 12px;
  line-height: 19px; 
  }
}

.Phone{
  max-width: 39%;
  float: left;
}

.entry-title{
  color: red;
}
