// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/icon";

@import "modules/logo";

@import "modules/navigation";

@import "modules/slider";

@import "modules/usp";

@import "modules/home";

@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

div.u-gridColumn6:nth-child(2) > ul:nth-child(1),
div.u-gridColumn6:nth-child(3) > ul:nth-child(1){
	text-align: left;
}


.Logo {
  position: relative;
  z-index: 100;
  width: 140px;
  padding: 0;

  img {
    position: absolute;
    bottom: -67px;
    left: 0;
  }
}

